{% load static %}
{% load format_filters %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista de Professores</title>
    <link rel="stylesheet" href="{% static 'css/professor_list.css' %}">
</head>

<body>

    <nav class="menu-bar">
        <ul>
            <li><a href="{% url 'home' %}">Início</a></li>
            <li><a href="{% url 'gestao_list' %}">Disciplinas</a></li>
            <li><a href="{% url 'professor_list' %}">Professores</a></li>
        </ul>
    </nav>

    <h1>PROFESSORE CADASTRADOS</h1>

        <div class="cabecalho-lista2">
            <div class="coluna nome">Nome</div>
            <div class="coluna telefone">Telefone</div>
            <div class="coluna disciplina">Disciplina</div>
        </div>

    <ul>
    {% for professor in object_list %}  
    <li class="disciplina-item2">
        <div class="conteudo">
            <div class="info">
                <div class="coluna nomes">{{ professor.nome }}</div>
                <div class="coluna telefones">{{ professor.telefone|formata_telefone }}</div>
                <div class="coluna disciplinas">{{ professor.disciplina.disciplina }}</div>
                <div class="coluna acoes">
                    <a href="{% url 'professor_update' professor.pk %}">✏️ Editar</a>
                    <a href="{% url 'professor_delete' professor.pk %}">🗑️ Excluir</a>
                </div>
            </div>
        </div>
    </li>
        {% empty %}
        <li><em>Nenhum professor cadastrado.</em></li>
        {% endfor %}
    </ul>

    <a href="{% url 'professor_create' %}" class="nova-tarefa">NOVO PROFESSOR</a>
     <a href="{% url 'professor_pdf' %}" class="btn-pdf" target="_blank">
        <img src="{% static 'icons/pdf.png' %}" alt="PDF" class="icon-img"> Gerar PDF
        </a>

    <a href="{% url 'exportar_excel' %}" class = "btn-excel" target ="blank">
    <img src="{% static 'icons/excel.png' %}" alt="PDF" class="icon-img"> Exportar para Excel
</a>

</body>
</html>
