{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Gestão de Disciplinas</title>

    <link rel="stylesheet" href="{% static 'css/gestao_list.css' %}">
</head>
<body>

    <nav class="menu-bar">
        <ul>
            <li><a href="{% url 'home' %}">Início</a></li>
            <li><a href="{% url 'gestao_list' %}">Disciplinas</a></li>
            <li><a href="{% url 'professor_list' %}">Professores</a></li>
        </ul>
    </nav>

    <h1>DISCIPLINAS CADASTRADAS</h1> 

    <div class="cabecalho-lista2">
        <div class="coluna disciplina">Disciplina</div>
        <div class="coluna carga">Carga Horária</div>
    </div>

    <ul>
        {% for gestao in object_list %}
        <li class="disciplina-item2">
            <div class="conteudo">
                <div class="info">
                  <div class="coluna disciplinas">{{ gestao.disciplina }}</div>
                    <div class="coluna cargas">{{ gestao.carga_horaria }}</div>
                        <div class="coluna acoes">
                            <a href="{% url 'gestao_update' gestao.pk %}">✏️ Editar</a>
                            <a href="{% url 'gestao_delete' gestao.pk %}">🗑️ Excluir</a>
                        </div>
            </div>
        </div>
        </li>
        {% empty %}
        <li><em>Nenhuma disciplina cadastrada.</em></li>
        {% endfor %}
    </ul> 

    <a href="{% url 'gestao_create' %}" class="nova-tarefa">NOVA DISCIPLINA</a>
    <a href="{% url 'gestao_pdf' %}" class="btn-pdf" target="_blank">
        <img src="{% static 'icons/pdf.png' %}" alt="PDF" class="icon-img"> Gerar PDF
    </a>
        
    <a href="{% url 'exportar_disciplinas_excel' %}" class = "btn-excel" target ="blank">
    <img src="{% static 'icons/excel.png' %}" alt="PDF" class="icon-img"> Exportar para Excel
</a>

</body>
</html>
