{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if form.instance.pk %}Editar{% else %}Cadastrar{% endif %} Disciplina</title>

    <link rel="stylesheet" href="{% static 'css/gestao_form.css' %}">
</head>
<body>
     <!-- Menu de navegação -->
     <nav class="menu-bar">
        <ul>
            <li><a href="{% url 'gestao_list' %}">Disciplinas</a></li>
            <li><a href="{% url 'professor_list' %}">Professores</a></li>

        </ul>
    </nav>
    

    {% if form.instance.pk %}
        <h1>EDITAR DISCIPLINA</h1>
    {% else %}
        <h1>CADASTRAR DISCIPLINA</h1>
    {% endif %}

    <form method="POST" class="form-tarefa" autocomplete="off">
        {% csrf_token %}
        
        <div class="form-group">
            {% for field in form %}
                <div class="form-field">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="form-error">{{ field.errors }}</div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div class="form-botoes">
            <button type="submit" class="btn-salvar">Salvar</button>
            <a href="{% url 'gestao_list' %}" class="btn-cancelar">Cancelar</a>
        </div>
    </form>

</body>
</html>
